name: release

on:
  pull_request:
  push:
    branches:
      - master
env:
  appName: "ethereum-basics"
  releaseName: "Ethereum Basics"

jobs:
  build_release:
    name: build_release
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@master
      - name: version
        run: echo "::set-output name=version::$(cat default/app.conf | grep version | head -1 | awk '{split($0,a," "); print a[3]}')"
        id: version
      - name: package
        run: |
        touch ethereum-basics.tgz
        tar --transform 's,^\.,${{env.appName}},' --exclude='.git*' --exclude='${{env.appName}}.tgz' -cvzf ${{env.appName}}.tgz ./
      - name: release
        uses: actions/create-release@v1
        id: create_release
        with:
          draft: false
          prerelease: false
          release_name: ${{env.releaseName}} v${{ steps.version.outputs.version }}
          tag_name: ${{ steps.version.outputs.version }}
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - name: upload artifact
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./${{env.appName}}.tgz
          asset_name: ${{env.appName}}_${{ steps.version.outputs.version }}.tgz
          asset_content_type: application/gzip